@import "reset";
@import "./themes/default";
@import "./themes/dim";
@import "./themes/lightsOut";

body {
  font-size: 15px;
  color: white;
  background-color: black;
  min-height: 100vh;
}

.app {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;

  div.timeline {
    margin-left: auto;
    margin-right: -20px;
    min-height: 100vh;
    border-left: 2px solid rgba(86, 87, 96, 0.26);
    border-right: 2px rgba(86, 87, 96, 0.26) solid;
  }

}
