.sidebar {
  position: fixed;
  top: 0;
  width: 275px;
  height: 100vh;
  padding: 10px 15px 10px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon {
  font-size: 29px;
}

.sidebarItem {
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;

  &:hover {
    background-color: rgba(86, 87, 96, 0.26);
    transition: all 0.3s;
  }
}

.tweetBtn {
  width: 225px;
  height: 50px;
  margin-top: 10px;
}
